@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    src: url(../static/SF-Pro-Text-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    src: url(../static/SF-Pro-Display-Medium.otf) format('opentype');
}

:root {
    --rs-font-family-ui: "SF Pro Text";
    --rs-font-family-headers: "SF Pro Display";
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}
