@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../static/GoogleSans-Medium.ttf);
}

.article__p {
    font-family: "Google Sans";
}

.title__content {
    font-family: "Google Sans";
}

:root {
    --rs-font-family-ui: "Google Sans";
    --rs-font-family-headers: "Google Sans";
}
